.comparison {
  padding: 5rem;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.comparison h3 {
  text-align: center;
  max-width: 600px;
}

/* Wrap table in a scrollable container */
.table-container {
  width: 100%;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  min-width: 750px; /* Ensures table overflows if container is smaller */
  width: 100%;
  margin: 2rem 0;
}

table .alcami {
  background-color: #f0eee6;
  border-bottom: 1px dotted #333;
}

thead th {
  font-family: "NewRailAlphabet-Bold";
  text-align: start;
}

thead img {
  max-width: 100px;
}

th {
  text-align: start;
  min-width: 150px;
}

td {
  min-width: 150px;
  text-align: center;
}

th,
td {
  padding: 1rem 0.25rem;
  border-bottom: 1px solid #333;
}

@media screen and (max-width: 750px) {
  thead img {
    max-width: 75px;
  }
}
