.newsletter {
  padding: 5rem;
  padding-top: 0;
  max-width: 1500px;
  margin: 0 auto;
}

.newsletter-div {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("/assets/images/newsletter.jpeg");
  background-size: cover;
  background-position: center;
  aspect-ratio: 16/7;
  padding: 4rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  color: white !important;
}

.newsletter-div h3 {
  max-width: 500px;
  text-align: center;
}

.newsletter-div input {
  min-width: 300px;
  padding: 0.5rem 1rem;
  outline: none;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  margin-bottom: -1rem;
}

@media screen and (max-width: 776px) {
  .newsletter-div {
    padding: 4rem 2rem;
    text-align: center;
    aspect-ratio: auto !important;
  }
  .newsletter-div h3 {
    font-size: clamp(1.5rem, -0.6556rem + 9.0762vw, 3rem) !important;
  }

  .newsletter-div input {
    min-width: 200px;
    width: 100%;
  }
}
